1. Write a function to find the most common elements in a tuple.

In [7]:
def commonest(tpl):
    elements = set(tpl)
    counts = {ele:tpl.count(ele) for ele in elements}
    print(counts)
    return max(counts, key=counts.get)
test = ('aa', 'aaa', 'aa', 'a')
commonest(test)

{'a': 1, 'aa': 2, 'aaa': 1}

'aa'

2. Write a function to check if a given tuple is a palindrome, meaning the elements are the same in reverse order.

In [8]:
def palindrome(tpl):
    return tpl == tpl[::-1]

tests = [(1,2,3,4,5), (1,2,1)]
print([palindrome(test) for test in tests])

[False, True]

3. Write a function to find the frequency of elements in a tuple, and return a dictionary mapping each element to its frequency.

In [9]:
def frequency(tpl):
    elements = set(tpl)
    counts = {ele:tpl.count(ele) for ele in elements}
    return counts

test = ('aa', 'aaa', 'aa', 'a')
frequency(test)

{'a': 1, 'aa': 2, 'aaa': 1}

4. Write a function that takes a tuple as an argument and returns a new tuple with only the even elements from the original tuple.

In [13]:
def evener(tpl):
    return tuple([tpl[i] for i in range(len(tpl)) if i % 2 == 0])

test = ('aa', 'aaa', 'aa', 'a')

evener(test)

('aa', 'aa')

5. Write a function to find all unique elements in a tuple and return them in a new tuple.

In [15]:
def unique(tpl):
    return tuple(set(tpl))

test = ('aa', 'aaa', 'aa', 'a')

unique(test)

('a', 'aa', 'aaa')